.background {
    -fx-background-color: #52575d;
}

.background-pane-edit {
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-background-radius: 15;
}

.background-pane-view {
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-background-radius: 10;
}

.background-edit {
    -fx-background-color: rgba(45, 45, 45, 0.7);
    -fx-background-radius: 10;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.text-field {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 20;
}

.button:hover {
    -fx-translate-y: -3px;
}

.button:pressed {
    -fx-translate-y: -1px;
}

.combo-box-base{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

.combo-box-base:hover {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.combo-box .list-cell {
    -fx-text-fill: black;
    -fx-background-radius: 10;
}
.combo-box .list-view {
    -fx-background-color: rgba(255, 255, 255, 0);
}

.combo-box .list-view .list-cell {
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.combo-box .list-view .list-cell:filled:selected {
    -fx-background-color: rgba(255, 255, 255, 1);
}

.combo-box .list-view .list-cell:filled:hover {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-text-fill: black;
}

.list-view {
    -fx-background-color: rgba(45, 45, 45, 0.7);
}

.view .list-cell {
    -fx-background-color: rgba(45, 45, 45, 1);
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(255, 255, 255, 0.8);
}

.view .list-cell:empty {
    -fx-background-color: rgba(0, 0, 0, 1);
}

.view .list-cell:hover{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: black;
}

.view .list-cell:selected{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: black;
}
